body{
    background-color: #292929;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    
}
.seat{
    background-color: rgba(163, 163, 163, 0.267);
    height: 15px;
    width: 15px;
    margin: 3px;
    border-radius: 5px;
}
.row{
    display: flex;
}


