body{
    background-color: #292929;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    
}
.seat{
    background-color: rgba(163, 163, 163, 0.267);
    height: 15px;
    width: 15px;
    margin: 3px;
    border-radius: 5px;
}

.seat.selected{
    background-color: #f6eb6f;
}

.seat.reserved{
    background-color: #fff;
}

.seat:nth-of-type(2){
    margin-right: 20px;
}
.seat:nth-last-child(3){
    margin-right: 20px;
}

.row{
    display: flex;
}


